.span_album{
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;	
}
.li_photo{
	width : 180px;
	height : 120px;
	background: #fff;
	float:left;
	overflow : hidden;
}
.div_btn_photo{
	position:absolute;
	top:120px;	
	left:930px;
}
.btn_photo{
	width : 50px;
	height : 30px;	
}
#div_albumList{
	border: 1px black solid;
	overflow:hidden;
	width:1000px;
	height:150px;	
}
.div_album{
	width : 180px;
	height : 120px;
	overflow : hidden;	
}
#div_editPanel{
	width: 1000px;
	height: 1000px;
	border: solid 1px black;	
}